*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
header, .main, footer{
    background-color: #e3dfd8;
    width: 100%;
}
header nav{
    background-color: #1d4db4;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
    padding: 20px;
    margin-left: 100px;
    margin-top: 12px;
    text-decoration: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
header nav ul li a:link{
    text-decoration: none;
}
header nav ul li:hover{
    font-weight: bold;
    box-shadow: 0px 9px 0px 0px white;
}
header nav ul li a:hover{
    color: white;
}
footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: rgb(29, 27, 36);
    font-family: calibri;
    font-size: 18px;
    font-weight: bold;
}
footer p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:85%;
}
.banco:hover{
    box-shadow: none;
    border-radius: 100%;
}
.banco2{
    border-radius: 100%;
    border: 5px solid white;
    width: 40px;

}
.aside1{
    width: 48%;
    border: 1px solid #0099cc;
    margin: 5px;
    border-radius: 5px;
    float: left;
}
.titulo{
    color:#0099cc;
    text-align: center;
    padding-top: 2px;
    font-size: 110%;
}
.aside2{
    border: 1px solid #0099cc;
    width: 45%;
    margin: 5px;
    border-radius: 5px;
    float: left;
    padding-bottom: 10px;
    text-align: center;
}

@media screen and (max-width: 767px){

}