*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
}
header, .main, footer{
    background-color: #e3dfd8;
    width: 100%;
}
header nav{
    background-color: #1d4db4;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
    padding: 20px;
    margin-left: 100px;
    margin-top: 12px;
    text-decoration: none;
}
header nav ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
header nav ul li a:link{
    text-decoration: none;
}
header nav ul li:hover{
    font-weight: bold;
    box-shadow: 0px 9px 0px 0px white;
}
header nav ul li a:hover{
    color: white;
}
.aside1{
    width: 25%;
    background-color: #016a94;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 30%;
    box-shadow:3px 3px 3px rgb(5, 10, 87);
    margin-bottom: 0px;
    margin-top: 20px;
    margin-left: 20px;
}
aside h3{
    color: white;
    font-family: Berlin Sans FB Demi, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 150%;
}
form{
    margin: 20px;
    padding: 20px;
    margin-left: 0px;
}
label{
    font-size: 125%;
    font-family:Berlin Sans FB Demi, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 6px;
    margin-bottom: 12px;
}
input{
    width: 63%;
    float: right;
    padding: 2px;

}
#TipoDeCuenta{
    float: right;
    width: 40%;
    padding: 2px;
}
#boton{
    margin-right: 14%;
    margin-top: 15%;
    padding: 10px;
    font-family: Berlin Sans FB Demi, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-size: 102%;
    font-weight:bold;
    background-color: rgb(214, 210, 210);
    border-radius: 5px;
}
#boton:hover{
    background-color: #c4f1f1;
    box-shadow: 1px 0.5px 10px white;
}
#boton:active{
    background-color: #3774b9;
    color: white;
    box-shadow: none;
}
.aside2{
    width: 25%;
    background-color: #016a94;
    float: left;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    height: 30%;
    box-shadow:3px 3px 3px rgb(5, 10, 87);
    margin-bottom: 20px;
    margin-top: 380px;
    margin-left: -340px;
    overflow: hidden;
}
.aside2 button{
    padding: 5px;
    display: block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
}
section{
    width:70%;
    margin-right: 2%;
    margin-left: 12.9%;
    margin-top: 0px;
    float: left;
    position: absolute;
    margin-top: 20px;
    margin-left: 380px;
    height: 112%;
}
section article{
    background-color:white;
    padding: 20px;
    margin-bottom:20px;
    border-radius: 10px;
    box-shadow: -3px -3px 6px rgb(13, 13, 14);
}
section article h4{
    font-family: Berlin Sans FB Demi, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
}
section article p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    width: 70%;
    margin: 5px;
    margin-top: 22px;
    margin-bottom: 8px;
}
article img{
    float: right;
    margin-top: -117px;
    margin-left: -20px;
    width: 200px;
    height: 125px;
    border-radius: 5%;
}
footer{
    clear: both;
    text-align: center;
    padding: 15px;
    background-color: rgb(175, 175, 175);
    font-family: calibri;
    font-size: 18px;
    font-weight: bold;
}
.titulo:hover{
    font-weight: normal;
    box-shadow: none;
}
.titulo{
    font-size: 23px;
    color: white;
    padding: -20px;
    margin-left: -60px;
    margin-right: 0px;
    margin-top: 12px;
}
.banco:hover{
    box-shadow: none;
    border-radius: 100%;
}
.banco2{
    border-radius: 100%;
    border: 5px solid white;
    width: 40px;

}